<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Nodejs Mysql CRUD</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  </head>
  <body style="background-size: cover; background-image: url(https://www.startogoweb.com/imagenes/fondoInicio.png); height: 100vh">
    <!-- navigation -->
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="/">REGISTRA TU PRODUCTO</a>
    </nav>
    
    




     
  