
 <body style="background-size: cover; background-image: url(https://www.startogoweb.com/imagenes/fondoInicio.png); height: 100vh"></body>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <title>Login</title>

    
      <form action="/login"  method="POST" class="col-md-3 "> 
       
        <h3 > Iniciar sesion</h3>
        <div class="form-group">
          <input type="email" name="correo" placeholder="Correo" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="password" name="contraseña" placeholder="Contraseña" class="form-control">
        </div>
           

           <div class="form-group">
               <div class="col-md-2">
                <button type="submit" class="btn btn-success">
                  Ingresar
                </button>
                <ul class="nav">
                  <li class="nav-item">
                      <a class="nav-item">
                      </a><a class="nav-link" style="color:black"
                          href="http://localhost:3000/registro"><b>Registrarse</b></a>

                  </li>

              </ul>
                  <!-- </button>
                   <button type="submit" class="btn  btn-outline-success ">
                    <a class="nav-link" style="color:black"
                    href="http://localhost:3000/tabla"><b> ingresar</b></a>
                   </button>
  
                   <ul class="nav">
                       <li class="nav-item">
                           <a class="nav-item">
                           </a><a class="nav-link" style="color:black"
                               href="registro.html"><b>Registrarse</b></a>
    
                       </li>
    
                   </ul>
   
               </div>
              -->
           </div>
       </form>
    </div>

  
  
  
  
  